<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Gepio</title>
    <link rel="stylesheet" type="text/css" href="/bootswatch-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='/bootstrap-social/bootstrap-social.css'/>
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
     <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src='/angular-bootstrap/ui-bootstrap.min.js'></script>
    <script src='/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src="/main.js"></script>
</head>
<body class="full" ng-app="FourSquarePlusApp" ng-controller="MainController">
    <navbar items="menuItems"></navbar>
    <div ui-view></div>
    <script src="socket/client_side_socket.js"></script>
</body>
</html>