#user {
	margin: 2.5%;

}

.panel-body{
	background-color: rgba(156,156,156,0.6);
	margin-bottom: 1.5%;
}

img{
	margin: 0 auto;
}

label, input{
	margin-top: 5px;
	margin-bottom: 5px;
}

button.btn-success{
	color: white;
}

.right {
	float: right;
}