<div>
	<div class='top-info bump row col-lg-offset-2' style='display:inline-block;'>
		<div class="row">
	        <div class="col-lg-2 col-lg-offset-7">
	            <p class="input-group">
	              <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
	        </div>
	        <div class='col-lg-1'>Invite Friends</div>
			<div class='col-lg-2'>Look at your trip map</div>
	    </div>
		
	</div>
	<div class='info-block col-lg-10 row clearfix'>
		<div ui-view></div>
	</div>
	<chat-bar></chat-bar>
</div>