<div id='date' class='std-gray-background col-lg-12'>
<!-- 	{{dataSet.events[0] | limitTo: 1 }}
</br></br>
	{{dataSet.venues[0] | limitTo: 1 }}
 -->
	<div class='col-lg-4 col-lg-offset-1'>
		<h2>Dinner</h2>
		<div class='bump box' ng-repeat='place in dataSet.venues | limitTo:8'>
			<h4>{{place.name}}</h4>
			<h5>{{place.location.formattedAddress[0]}}, {{place.location.formattedAddress[1]}}</h5>
			<h5 class='space-below'>Reservations are not required</h5>
			<button class='btn btn-xs btn-danger btn-floatright' ng-click='removeVenue(place)'>remove</button>
			<button class='btn btn-xs btn-success btn-floatright' ng-click='upvoteVenue(place)'>Like</button>
			
		</div>
	</div>
	<div class='col-lg-4 col-lg-offset-1'>
		<h2>Event</h2>
		<div class='bump box' ng-repeat='event in dataSet.events | checkDate:this | limitTo:8 | orderBy:event.name'>
			<h4>{{event.name}}</h4>
			<h5 class='space-below' >{{event.venue.address.address_1}}, {{event.venue.address.city}} </h5>
			<span>{{event.startTime | date: 'MMM d, h:mm a'}}</span>
			<button class='btn btn-danger btn-xs btn-floatright btn-floatright' ng-click='removeEvent(event)'>remove</button>
			<button class='btn btn-xs btn-success btn-floatright' ng-click='upvoteEvent(event)'>Like</button>
			
		</div>
	</div>
</div>
