<div id="explore" class="std-gray-background col-lg-12">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="panel-success">
			<div class="panel-heading"><h4>Restaurants</h4></div>
			<div class="panel-content">
				<venue-button data="place" ng-repeat="place in dataSet.venues | limitTo:8">
				</venue-button>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="panel-success">
			<div class="panel-heading"><h4>Events</h4></div>
			<div class="panel-content">
				<venue-button data="event" ng-repeat="event in dataSet.events | checkDate:dt | limitTo:8 | orderBy:votes ">
				</venue-button>
			</div>
		</div>
	</div>
</div>
