<nav class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav right">
            <li>
                <a ui-sref-active="active" ng-click="redirect('home')">Main</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='!loggedIn' ng-click="toggleVisible()">Login / Register</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='loggedIn' ng-click='redirect("user")'>Edit Profile</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='loggedIn' ng-click='logOut()'>Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <login ng-show='loginClicked' class='col-lg-3 col-lg-offset-9'></login>
</div>
