<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <fullstack-logo></fullstack-logo> -->
        </div>
        <ul class="nav navbar-nav right">
            <li ng-repeat="item in items">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-click="toggleVisible()">Main</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='!loggedIn' ng-click="toggleVisible()">Login</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='!loggedIn' ng-click="toggleVisible()">Register</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-show='loggedIn' >Edit Profile</a>
            </li>
        </ul>
    </div>
</nav>
<dropdown class='dropdown' ng-show='loginClicked'></dropdown>