#preferences {
	h3 {
		margin-left: 1.5%;
	}
}
.pref_panel {
	background-color: rgba(156,156,156,0.6);
	margin-bottom: 1.5%;
}

input{
	color: black;
}
.pref_category {
	text-align: left;
	label {
		font-size: 135%;
	}
}

.align_right {
	text-align: right;
}

.off_floor {
	padding-bottom: 1.5%;
}

preference-button div {
	border-bottom: 1px solid black;
	cursor: pointer;
	height: 50px;
	background-color: rgba(156,156,156,1.0);
	padding-top: 15px;
}

preference-button div:hover {
	background-color: rgba(156,156,156,0.6);
}

.chat-box{
	height: 200px;
	background: #A5A5A5;
}
.info-block{
	height: 400px;

}

.std-gray-background {
	background-color: rgba(156,156,156, 0.6);
	border-radius: 10px;
}
	.event{
		height: 100%;
		background-color: rgba(156,156,156, 0.6) ;
		border-radius: 10px;
	}
#login-providers{
	position: absolute;
	z-index: 10;
}
.mini-container{
	width: 200px;
	opacity: 100%;
}
.box{
	background: white;
	color: black;
	padding:15px;
	min-height: 150px;
	border-radius:5px;
}

.space-below{
	margin-bottom: 10px;
}

.btn-floatright{
	float: right;
	margin-left: 5px;
}
