<main id="final_itinerary" class="col-lg-12">
	<div class="panel-success">
		<div class="panel-heading"><h4>Attendees</h4></div>
		<div class="panel-body">
			<!-- <div ng-repeat="attendee in attendees">Final Data</div> -->
			<p>Data Thing</p>
		</div>
	</div>
	<div class="panel-success">
		<div class="panel-heading"><h4>Restaurant</h4></div>
		<div class="panel-body">
			<div>Venue</div>
		</div>
	</div>
	<div class="panel-success" ng-show="showEvents">
		<div class="panel-heading"><h4>Events</h4></div>
		<div class="panel-body">
			<div>Event</div>
		</div>
	</div>
	<button class="btn btn-success" ui-sref="map">Edit Itinerary</button>
	<button class="btn btn-success" ng-click="saveIt(itinerary)">Save Itinerary</button>
	<button class="btn btn-success" ui-sref="home">Back Home</button>
</main>
