<main id="final_itinerary" class="col-lg-12">
	<h1><b>{{itinTitle}} on {{itinDate}} || Itinerary Reference: {{id}}</b></h1>
	<div class="panel-success">
		<div class="panel-heading"><h4><b>Itinerary Contact:</b></h4></div>
		<div class="panel-body">
			<h5><b>Name:</b>  {{finalOctos}}</h5>
			<h5><b>E-mail:</b>  {{user.email}}</h5>
		</div>
	</div>
	<div class="panel-success">
		<div class="panel-heading"><h4><b>Restaurant:</b> {{finalVenue.venue[0].title}} | Votes: {{finalVenue.votes}}</h4></div>
		<div class="panel-body">
			<h4>{{finalVenue.venue[0].description}}</h4>
			<!-- <h4>{{finalVenue.venue[0].location}}</h4> -->
		</div>
	</div>
	<div class="panel-success" ng-show="showEvents">
		<div class="panel-heading"><h4><b>Event:</b> {{finalEvent.event[0].title}} | Votes: {{finalEvent.votes}}</h4></div>
		<div class="panel-body">
			<h4>{{finalEvent.event[0].description}}</h4>
			<!-- <h4>{{finalEvent.event[0].location}}</h4> -->
		</div>
	</div>
	<div ng-show="!isClosed">
		<button class="btn btn-success" ng-click="goBack()">Edit Itinerary</button>
		<button class="btn btn-success" ng-click="finishItn()">Finish Itinerary</button>
		<button class="btn btn-danger" ng-click="deleteItn()">Delete Itinerary</button>
	</div>
</main>
