<div bs-active-pane="tabs.activeTab" bs-tabs nav-class="nav-tabs nav-justified" >
	<div title="Sign In" bs-pane>
		<form class="form-group">
			<button class="btn btn-default" ng-click="loginhref('foursquare')">Sign in with Foursquare!</button>
			<br>
			<button class="btn btn-default" ng-click="loginhref('facebook')"><i class="fa fa-facebook-official"></i>&nbsp; Sign in with Facebook!</button>
			<br>
			<button class="btn btn-default" ng-click="loginhref('google')"><i class="fa fa-google"></i>&nbsp; Sign in with Google!</button>
		</form>
	</div>
</div>










