<div bs-active-pane="tabs.activeTab" bs-tabs nav-class="nav-tabs nav-justified navbar-right" >
	<div title="Sign In" bs-pane>
		<form class="form-group">

			<a class="btn btn-block btn-social btn-foursquare" ng-click="loginhref('foursquare')"><i class="fa fa-foursquare"></i>Sign in with Foursquare!</a>
			<br>
			<a class="btn btn-block btn-social btn-facebook" ng-click="loginhref('facebook')"><i class="fa fa-facebook-official"></i>&nbsp; Sign in with Facebook!</a>
			<br>
			<a class="btn btn-social btn-block btn-google-plus" ng-click="loginhref('google')"><i class="fa fa-google-plus"></i>&nbsp; Sign in with Google!</a>

		</form>
	</div>
</div>










