navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

}

navbar-itineraries{
  background-color: rgba(156, 156, 156, 0.90);
  right: 0;

  span{
    text-decoration: underline;
    font-weight: bold;
  }

  a{
    text-decoration: none;
  }
  a:hover,
  a:visited,
  a:link{
    text-decoration: none;
  }
  a:active{
    color: #43ac6a;
  }
}

login{
  right: 0;
}