// .chatBarActive {
// 	bottom: -470px;
// };
// .chatBarInactive {
// 	bottom: -535px;
// };

// .chatActive {
// 	height: 375px;
// 	.angular-google-map-container { height: 405px };
// };

// .chatInactive {
// 	height: 450px;
// 	.angular-google-map-container { height: 470px };
// };

#map {
	padding: 0%;
	height: 450px;
	section {
		padding: 0%;
	}
	aside {
		padding: 0%;
	}
	aside div div:hover {
		opacity: 0.7;
	}
};

.chat_placeholder {
	position: fixed;
	left: 0%;
	background-color: rgba(156,156,156,0.6);
	height: 100%;
	width: 100%;
	form text-area {
		height: 100%;
	}
	.housing {
		background: rgba(249,250,249, 0.65);
		min-height: 100%;
		border-radius: 2px;
	}
	div {
		.top-spacing{
			padding-top:10px;
		}
		div {

			color: black;
			border: 3px #F7F7F7;
			// background-color: rgba(249,250,249, 0.7);
			padding-left: 1%;
			
			div {
				overflow-y: auto;
			}

			p{
				background: rgba(64,170,98, 0.8);
				// background: rgba(125,125,125, 0.7);
				border-radius: 6px;
				padding: 5px 10px;
				margin: 7px 0px 3px 0px;
				clear: both;
				float: left;
			}
			.otherUser {
				background: rgba(125,125,125, 0.7);
			}
		}
	}
}