<section id="home" class="beinner">
	<div class='row'>
	    <div class='col-lg-12 align-center'>
	    	<img src="img/gepio.png" />
		    <!-- <carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		        <div class="carousel-caption">
		          <h4>{{slide.text}}</h4>
		        </div>
		      </slide>
		    </carousel> -->
	  	</div>
	</div>
	<div class='row'>
		<div class='col-lg-12'>
		<p>Shabby chic flannel four loko aesthetic, keytar craft beer ethical Intelligentsia. Single-origin coffee tote bag PBR&B, meh Intelligentsia bitters farm-to-table Brooklyn fingerstache sustainable whatever paleo Blue Bottle. VHS raw denim cronut, pork belly readymade cornhole try-hard semiotics deep v tattooed. Yr seitan bespoke hashtag VHS. McSweeney's bespoke cray street art squid, photo booth PBR&B. Trust fund Banksy ennui cray, XOXO Pinterest ethical. Cred freegan pug, post-ironic selvage chillwave +1 cardigan actually sartorial DIY meditation Shoreditch.
		</p>
		</div>
	</div>
		<button ui-sref="plan-itinerary" class="btn btn-default">Make Plans</button>
  <div class='row'>
  	<div id="options_menu" class='menu col-lg-12' ng-show="totals > 60">
  		<div class="col-lg-11 dropdiv panel-success">
  			<div class="panel-heading dropdiv_button" ng-show="!showOptions" ng-click="showOptionsClick()"><h4>{{selectedOption.name}}</h4></div>
  			<div class="panel-content" ng-show="showOptions">
  				<div class="col-lg-12 panel-heading dropdiv_button" ng-repeat="option in options" ng-click="showOptionsClick(option)">
					<h5>{{option.name}}</h5>
  				</div>
  			</div>
  		</div>
  		<div class="col-lg-1">
  			<button id="go_btn" class="btn btn-primary" ng-click="redirect()">Go</button>
  		</div>
  	</div>
  	<div class="col-lg-12 align-center" ng-show="!totals">
  		<img id="loader" src="img/ajax-loader.gif"/>
  	</div>
  </div>
</section>
