* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

dropdown div h4 {
	margin-bottom: 0%;
}

.givebg{
  background-color: rgba(156, 156, 156, 0.50);
  padding: 1%;
}

.givespace{
  margin-bottom: 1%;
}

.row {
	margin-right: 0;
	margin-left: 0;
}
.btn {
	margin: 5px;
}

.alignleft{
  float: left;
}
.alignright{
  float: right;
}

.align-center {
  text-align: center;
}

#loader {
  width: 100px;
  height: auto;
  margin-bottom: 5%;
}

@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'preferences/main';
@import 'map/main';
@import 'navbar/main';
@import 'user/main';
@import 'media';