<div class="col-lg-12 chat_placeholder" ng-class="{ chatBarActive: active, chatBarInactive: !active }">
	<div class="col-lg-12 align_center" ng-click="makeActive()">
		<button id="activeChatButton" class="btn btn-warning"></button>
	</div>
	<div class="row" ng-if="active">
		<div class="col-lg-4">
			<div class="col-lg-12">
				<p ng-repeat="message in message_to_display">{{message}}</p>
			</div>
		</div>
		<div class="col-lg-4">
			<form name="textForm">
				<div class="form-group">
					<textarea class="form-control" ng-model="current_message" placeholder="Enter text here..."></textarea>
				</div>
				<button ng-click="submit_message()">Submit</button>
				<input type="text" ng-model='roomName'>
				<button ng-click="create_room()">Create Room</button>
				<button ng-click="join_room()">Join Room</button>
				<pre>{{current_message|json}}</pre>
			</form>
		</div>
		<div class="col-lg-4">
			<div class="col-lg-12">
				<h5>Jin_So_Lonely <span style="opacity: 0.7">--active</span></h5>
			</div>
		</div>
	</div>
</div>



